.ipynb_checkpoints/
brexit_data_project_BDD-kaggle.zip
counter_neg_ser.pkl
counter_neg_ser_modals.pkl
counter_neg_ser_wish.pkl
counter_neu_ser.pkl
counter_neu_ser_modals.pkl
counter_neu_ser_wish.pkl
counter_pos_ser.pkl
counter_pos_ser_modals.pkl
counter_pos_ser_wish.pkl
doc_neg.pkl
doc_neg_modals.pkl
doc_neg_wish.pkl
doc_neu.pkl
doc_neu_modals.pkl
doc_neu_wish.pkl
doc_pos.pkl
doc_pos_modals.pkl
doc_pos_wish.pkl
get_bow_corpus.dict
get_corpus_tfidf.dict
get_counter_neg_modals.dict
get_counter_neg_wish.dict
get_counter_neu_modals.dict
get_counter_neu_wish.dict
get_counter_pos_modals.dict
get_counter_pos_wish.dict
get_dictionary.dict
get_empath_uncleaned_tweets_neg_preprocessed.pkl
get_empath_uncleaned_tweets_neu_preprocessed.pkl
get_empath_uncleaned_tweets_pos_preprocessed.pkl
get_lda_BoW_model.dict
get_lda_BoW_model_set_of_topics.set
get_lda_tfidf_model_set_of_topics.set
get_text.dict
get_text_preprocessed.dict
get_tfidf.dict
infered_cat_neg.set
infered_cat_neg_modals.set
infered_cat_neg_wish.set
infered_cat_neu.set
infered_cat_neu_modals.set
infered_cat_neu_wish.set
infered_cat_pos.set
infered_cat_pos_modals.set
infered_cat_pos_wish.set
lda_tfidf_model.dict
model_neg.model
model_neg.model.syn1neg.npy
model_neg.model.wv.vectors.npy
model_neu.model
model_neu.model.syn1neg.npy
model_neu.model.wv.vectors.npy
model_pos.model
model_pos.model.syn1neg.npy
model_pos.model.wv.vectors.npy
neg.pkl
neg_preprocessed.pkl
neu.pkl
neu_preprocessed.pkl
pos.pkl
pos_preprocessed.pkl
processed_tweets.dict
ready_for_plot_neg.pkl
ready_for_plot_neu.pkl
ready_for_plot_pos.pkl
test.model
tmp
tweets_df.pkl
tweets_for_LDA.dict
uncleaned_tweets.pkl
uncleaned_tweets_neg.pkl
uncleaned_tweets_neg_preprocessed
uncleaned_tweets_neu.pkl
uncleaned_tweets_neu_preprocessed
uncleaned_tweets_pos.pkl
uncleaned_tweets_pos_preprocessed

